.customer-wrapper .content-wrapper h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Poppins';
}
.dashboard .customer-wrapper th {
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 600;
}
.dashboard .customer-wrapper td {
    font-weight: 300;
    font-size: 14px;
    font-family: 'Poppins';
    color: #000;
}

.customer-wrapper {
    background-color: #b1b1b114;
    padding: 30px;
}